.devicesGrid {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 14rem;
  padding: .5rem 1rem;
  overflow-y: auto;
  height: 90rem;
  align-self: center;
  z-index: 0;
}
