.deviceDetails {
  position: absolute;
  width: 100%;
  align-self: center;
  top: 8rem;
  left: 0;
}

.detailActions {
  width: 100%;
  padding: 0 2rem;
  font-family: var(--main-font);
}

.details {
  width: 60rem;
}

.device {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2rem;
  width: 100%;
}

.deviceDetailsImg {
  border-radius: .5rem;
  background-color: var(--neutral-01);
  width: 275px;
  height: 275px;
}

.deviceDetailsDisplay {
  flex-grow: 1;
}

.deviceDetailsDisplay h3 {
  font-size: 2rem;
  color: var(--unifi-text-01);
}

.deviceDetailsDisplay p {
  font-size: 1.4rem;
  color: var(--unifi-text-02);
}
