.detailActions {
  width: 100%;
  font-family: var(--main-font);
}

.details {
  width: 60rem;
}

.device {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2rem;
  width: 100%;
}

.deviceImg {
  border-radius: .5rem;
  background-color: var(--neutral-01);
  width: 275px;
  height: 275px;
}

.deviceDetailsDisplay {
  flex-grow: 1;
}
