.deviceActions {
  margin-top: 4rem;
  width: 100%;
  height: 9rem;
  padding: 0 2rem;
  font-family: var(--main-font);
  background-color: var(--neutral-00);
  align-self: center;
  z-index: 100;
}

.deviceSearch > .muted {
  color: var(--gray-4);
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 1rem;
}

.devicesTable {
  position: absolute;
  margin-top: 12rem;
  padding: .5rem 1rem;
  overflow-y: auto;
  height: 90rem;
  align-self: center;
  z-index: 0;
}

table {
  font-family: var(--main-font);
  background-color: var(--neutral-00);
  border-collapse: collapse;
  max-height: 100%;
  width: 100%;
}

thead {
  background-color: var(--neutral-00);
}

tr {
  border-bottom: 2px solid var(--neutral-02);
}

td {
  padding: .5rem 1rem;
}

thead > tr > th {
  position: sticky;
  top: 0;
  padding: 1rem 1rem;
  text-align: left;
  font-size: 1.4rem;
  background-color: var(--neutral-00);
  z-index: 100;
}

tbody > tr:hover {
  cursor: pointer;
  background-color: var(--neutral-03);
}

tbody > tr:active {
  border-bottom: 2px solid var(--unifi-blue);
}

.iconCol {
  width: 50px;
}

.lineCol {
  width: 50%;
}

.lineColItem {
  font-size: 1.4rem;
  color: var(--unifi-text-01);
}

.productNameCol {
  width: 50%;
}

.productNameColItem {
  font-size: 1.4rem;
  color: var(--unifi-text-02);
}
