.deviceCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 21.6rem;
  height: 16.4rem;
  border-radius: .8rem;
  border: 2px solid var(--neutral-02);
  background-color: var(--neutral-02);
}

.deviceLineTag {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.tag {
  background-color: var(--neutral-00);
  padding: .5rem 1rem;
  color: var(--unifi-blue);
  border-radius: .8rem;
  font-size: 1.2rem;
}

.deviceImg {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 8rem;
  z-index: 1rem;
}

.productImage {
  height: 8.4rem;
  width: auto;
  margin-top: 1rem;
}

.deviceInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 6rem;
  padding: .5rem 1rem;
  bottom: 0;
  border-radius: 0 0 .8rem .8rem;
  background-color: var(--neutral-00);
}

.deviceInfo h2 {
  font-size: 1.4rem;
  color: var(--unifi-text-03);
}

.deviceInfo .muted {
  font-size: 1.2rem;
  color: var(--neutral-08);
}

.deviceCard:hover {
  cursor: pointer;
}

.deviceCard:active {
  border-color: var(--unifi-blue);
}

.deviceCard:hover > .deviceInfo {
  background-color: var(--neutral-01);
}

@media (max-width: 720px) {
  .deviceCard {
    width: 90%;
    height: 30rem;
  }

  .deviceLineTag {
    padding-top: .75rem;
    padding-right: 1rem;
  }
  .tag {
    font-size: 2rem;
  }

  .productImage {
    height: 20rem;
    width: auto;
  }

  .deviceInfo h2 {
    width: 100%;
    text-align: center;
  }

  .deviceInfo .muted {
    width: 100%;
    text-align: center;
  }
}
