.deviceDetails {
  position: absolute;
  width: 100%;
  align-self: center;
  top: 8rem;
  left: 0;
}

.detailActions {
  width: 100%;
  padding: 0 2rem;
  font-family: var(--main-font);
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 60rem;
  max-width: 80rem;
}

.device {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2rem;
  width: 100%;
}

.deviceDetailsImg {
  border-radius: .5rem;
  background-color: var(--neutral-01);
  width: 275px;
  height: 275px;
}

.deviceDetailsImg img {
  height: 25.7rem;
  width: auto;
}

.deviceDetailsDisplay {
  flex-grow: 1;
}

.deviceDetailsDisplay h3 {
  font-size: 2rem;
  color: var(--unifi-text-01);
}

.deviceDetailsDisplay p {
  font-size: 1.4rem;
  color: var(--unifi-text-02);
}

@media (max-width: 720px) {
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: initial;
    max-width: initial;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .deviceDetailsImg {
    width: 275px;
    height: 275px;
    align-self: center;
  }

  .deviceDetailsImg img {
    height: 25.7rem;
    width: auto;
  }

  .deviceDetailsDisplay {
    width: 80%;
    padding-top: 1rem;
  }

  .deviceDetailsDisplay h3 {
    font-size: 3rem;
    text-align: center;
    color: var(--unifi-text-01);
  }

  .deviceDetailsDisplay p {
    font-size: 1.7rem;
    text-align: center;
    color: var(--unifi-text-02);
  }
}
