@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

@import './styles/layout.css';
@import './styles/layoutHeader.css';
@import './styles/table.css';
@import './styles/inputs.css';
@import './styles/buttons.css';
@import './styles/dropdowns.css';

/* Page specific CSS imports */
@import './styles/pages/deviceDetails.css';

:root {
  --gray-4: #BDBDBD;
  --neutral-00: #FFFFFF;
  --neutral-01: #F9FAFA;
  --neutral-02: #F4F5F6;
  --neutral-03: #EDEDF0;
  --neutral-08: #838691;
  --unifi-text-03: #808893;
  --unifi-blue: #006FFF;
  --unifi-text: #212327;
  --unifi-text-01: rgba(0, 0, 0, .65);
  --unifi-text-02: rgba(0, 0, 0, .45);
  --main-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
p {
  font-family: var(--main-font);
}

main {
  padding: 1.5rem 2.25rem;
}
